<h1>Your booking Details Are as Following</h1>
Checkin Date : <%= @booking.start_date%><br>
Checkout Date : <%= @booking.end_date%><br>
Place Name : <%= @booking.place.name%><br>
Hotel Name : <%= @booking.hotel_name%><br>
Budget : <%= @booking.budget.start_range%> to <%= @booking.budget.end_range%><br>
Stay Type  : <%= @booking.stay_type.name%><br>
Hotel Name : <%= @booking.total%><br>
